body {
  font-family: Helvetica, Arial, sans-serif;
  color: #3498DB;
  font-size: 2rem;
  margin: 5% auto;
  width: 60%;
}

hr {
  border-color: #ECF0F1;
  opacity: .2;
}

.checkbox:hover .fa-circle-o,
.checkbox .fa-check-circle-o {
  display: none;
}

.checkbox:hover .fa-check-circle-o {
  color: #2ecc71;
  display: inline;
}

.checkbox {
  color: #777;
  font-size: 1.2em;
  text-decoration: none;
}

.input {
	color:#3c3c3c;
  font-weight:800;
	font-size: 18px;
	border: 3px solid #dedede;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px;
}

.inactive {
  color: #777;
}

.task-time {
  color: #777;
}

/* Colors
==================================================*/

.inactive {
  color: #ecf0f1;
}

.inactive:hover {
  color: #e74c3c;
  cursor: pointer;
}

.red {
  color: #e74c3c;
}


/* #Red Flat Button
==================================================*/
.red-flat-button {
  position: relative;
  vertical-align: top;
  width: 150px;
  height: 50px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #e74c3c;
  border: 0;
  border-bottom: 2px solid #db4334;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #db4334;
  box-shadow: inset 0 -2px #db4334;
}
.red-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Green Flat Button
==================================================*/
.green-flat-button {
  position: relative;
  vertical-align: top;
  width: 150px;
  height: 50px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2ecc71;
  border: 0;
  border-bottom: 2px solid #28be68;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #28be68;
  box-shadow: inset 0 -2px #28be68;
}
.green-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Blue Flat Button
==================================================*/
.blue-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2C82C9;
  border: 0;
  border-bottom: 2px solid #2969B0;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2969B0;
  box-shadow: inset 0 -2px #2969B0;
}
.blue-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
